body{
	font-size:16px;
	font-family: 'Noto Sans KR', sans-serif, '맑은 고딕';
	word-break:keep-all
}
.blind{
	position:absolute;
	clip:rect(0 0 0 0);
	width:1px;
	height:1px;
	margin:-1px;
	overflow:hidden
}
.inner{
	position:relative;
	margin:auto;
}
/* for desktop */


/* for tablet */
@media screen and(max-width:999){

}

/* for mobile */
@media screen and(max-width:799px){

}